/.idea
/.vscode
/.sass-cache
/bootstrap/compiled.php
/vendor
/node_modules
/app/assets/vendor
/app/config/local/*
/app/config/production/*
/app/config/packages/**/production/*
/public/data
composer.phar
.env.*.php
.env.php
.environment.php
.version.php
_ide_helper.php
.DS_Store
Thumbs.db
/app/storage/cookies
/app/database/manifest/*
