// Bootstrap mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Compass mixins
@import "~compass-sass-mixins/lib/compass/utilities";
@import "~compass-sass-mixins/lib/compass/css3";
@import "~compass-sass-mixins/lib/animation/core";

//
// Clearfix
//---------------------------------------------------
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
