@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$page-width: 960px;

$color-light: rgb(255, 206, 31);
$color-moteoflight: #00b3ee;
$color-arc: darken(#85c5ec, 10%);
$color-solar: darken(#f2721b, 10%);
$color-void: darken(#b184c5, 10%);
$color-crucible: #a8342c;
$color-vanguard: #e76f24;
$color-title: #fff;
$color-dark: #343434;

$background-color-from: #445c60;
$background-color-to: #b5bea9;

$character-header-height: 53px;
$progress-bar-height: 16px;
$progress-bar-bg: #556A6E;
$progress-bar-active: $background-color-from;
$progress-bar-complete: darken($background-color-from, 5%);

$navbar-border-radius: 0;
$navbar-inverse-brand-color: $background-color-to;
$navbar-inverse-border: transparent;
$navbar-inverse-bg: #2d3137;

$panel-bg: rgba(245,245,245,0.1);
$panel-border-radius: 0;

$table-cell-padding:            5px;
$table-condensed-cell-padding:  5px;
$table-bg:                      transparent;
$table-bg-accent:               $panel-bg;
$table-bg-hover:                $panel-bg;
$table-bg-active:               $table-bg-hover;
$table-border-color:            $panel-bg;

$popover-bg: rgba(0,0,0,0.9);
$popover-title-bg: $panel-bg;
$popover-arrow-color: $popover-bg;

$line-color: 1px solid rgba(246,246,246,0.25);

//== Modals
$modal-content-bg:                             $background-color-from;
$modal-content-border-color:                   rgba(0,0,0,.2);
$modal-content-fallback-border-color:          #999;
$modal-backdrop-img: "../img/modal_bg.jpg";

$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      .5;
$modal-header-border-color:   $line-color;
$modal-footer-border-color:   $modal-header-border-color;

$btn-primary-bg: $color-light;
$btn-primary-color: $color-dark;
